<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <style>
        * {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        body {
            font-family: 'Open Sans', sans-serif;
            padding: 0;
            margin: 0;
        }

        ._404 {
            width: 100%;
            padding: 140px;
        }

        ._404 h1 {
            font-size: 70px;
            margin-top: 0px;
            margin-bottom: 20px;
        }

        ._404 h2 {
            font-size: 21px;
            margin: 0;
            font-weight: normal;
        }

        ._404 p {
            color: #999fa5;
            font-weight: 400;
        }

        ._404 a {
            display: inline-block;
            font-weight: 500;
            text-decoration: none;
            color: #388dbc;
        }
        @media only screen and (max-width: 767px) {
            ._404 {
                padding: 20px;
            }
        }
    </style>
</head>
<body>
    <div class="_404">
        <h1>404</h1>
        <h2>Oops! Page Not Be Found</h2>
        <p>Sorry but the page you are looking for does not exist, have been removed. name changed or is temporarily unavailable</p>
        <a href="/">Back to homepage</a>
    </div>
</body>
</html>