<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Log in to FoF22 to start sharing and connecting with your friends, family and people you know.">
	<link rel="stylesheet" href="dist/css/index.css">
	<title>FoF22</title>
</head>

<body>
	<main>
		this is home page
	</main>
</body>

</html>
