<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" href="dist/css/index.css">
        <title>Home</title>
    </head>
    <body>
        <header class="header" id="header">
            <nav class="nav">
                <a href="#" class="nav__logo">FoF22</a>
                <div class="nav__menu" id="nav-menu">

                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#" class="nav__link active-link">
                                <i class='bx bx-home-alt nav__icon'></i>
                                <span class="nav__name">Home</span>
                            </a>
                        </li>
                        
                        <li class="nav__item">
                            <a href="#" class="nav__link">
                                <i class='bx bx-user nav__icon'></i>
                                <span class="nav__name">Profile</span>
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="#" class="nav__link">
                                <i class='bx bx-chat nav__icon'></i>
                                <span class="nav__name">Messages</span>
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="#" class="nav__link">
                                <i class='bx bx-search nav__icon'></i>
                                <span class="nav__name">Search</span>
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="#" class="nav__link">
                                <i class='bx bx-menu nav__icon'></i>
                                <span class="nav__name">Menu</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="nav__img">
                    <img src="dist/img/profile/rumi.png" alt="">
                </div>
            </nav>
        </header>

        <main>

        </main>
    </body>
</html>
