<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dist/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/plugins/navbar/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <title><%=c_page%></title>
</head>
<body onload="init('<%=c_page%>', '<%=user.username%>')">
    </header>
        <header class="header">
        <div class="nav">
            <section class="wrapper">
            <h1><a href="/" class="nav-icon">F<sub>o</sub>F<sub>22</sub><i class='fab fa-connectdevelop'></i></a></h1>
                <button type="button" class="opened-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="overlay"></div>
                <nav class="navbar">
                    <button type="button" class="closed-menu">
                        <img src="/plugins/navbar/closed.svg" class="closed-icon" alt="closed">
                    </button>
                    <ul class="menu">
                        <li class="menu-item active"><a href="#">Home</a></li>
                        <li class="menu-item"><a href="#">Profile</a></li>
                        <li class="menu-item"><a href="#">Messages</a></li>
                        <li class="menu-item"><a href="#">Search</a></li>
                        <li class="menu-item"><a href="#">Menu</a></li>
                    </ul>
                </nav>
            </section>
        </div>
    </header>
    <div class="cover"></div>
    <div class="loader loader__home"></div>
    <main class="main"></main>
    <script src="/plugins/navbar/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/dist/js/index.js"></script>
</body>
</html>