<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" href="/dist/css/spa/index.css">
        <link rel="stylesheet" href="/dist/css/spa/chat.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
        <title>FoF22</title>
    </head>
    <body onload="init('<%=user_id%>', '<%=username%>')">
        <header>
            <nav class="navbar">
                <div class="nav__logo">FoF22</div>
                <div class="nav__list">
                    <a id="nav__link__home" href="/spa" class="nav__link" data-link><i class="bx bx-home-alt nav__icon"></i></a>
                    <a id="nav__link__friends" href="/spa/friends" class="nav__link" data-link><i class="bx bx-group nav__icon"></i></i></a>
                    <a id="nav__link__messages" href="/spa/messages" class="nav__link" data-link><i class="bx bx-chat nav__icon"></i></a>
                    <a id="nav__link__search" href="/spa/search" class="nav__link" data-link><i class="bx bx-search nav__icon"></i></a>
                    <a id="nav__link__menu" href="/spa/menu" class="nav__link" data-link><i class="bx bx-cog nav__icon"></i></a>
                </div>
                <div class="nav__img">
                    <img src="/dist/img/users/61d001de9b64b8c435985da5/profile.png">
                </div>
            </nav>
        </header>

        <main id="app">

        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/nanobar/0.4.2/nanobar.min.js" integrity="sha512-1Al+dnfE+1gI7IBmpUZ8XnZ3l3Nv6cyA+XgdtlaptVNxJcWWRzHxOPzT+2pbp52qtXa2jkwk0MWYSmxslMsHCQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/dist/js/spa/script.js"></script>
        <script type="module" src="/dist/js/spa/index.js"></script>
    </body>
</html>
