<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" href="/dist/css/spa/index.css">
        <title>FoF22</title>
    </head>
    <body>
        <header>
            <nav id="nav" class="nav">
                <a href="#" class="nav__logo">FoF22</a>
                <div class="nav__menu" id="nav-menu">

                    <ul class="nav__list">
                        <li class="nav__item">
                            <a id="nav__link__home" href="/spa" class="nav__link" data-link>
                                <i class='bx bx-home-alt nav__icon'></i>
                                <span class="nav__name">Home</span>
                            </a>
                        </li>
                        
                        <li class="nav__item">
                            <a id="nav__link__profile" href="/spa/profile" class="nav__link" data-link>
                                <i class='bx bx-user nav__icon'></i>
                                <span class="nav__name">Profile</span>
                            </a>
                        </li>

                        <li class="nav__item">
                            <a id="nav__link__messages" href="/spa/messages" class="nav__link" data-link>
                                <i class='bx bx-chat nav__icon'></i>
                                <span class="nav__name">Messages</span>
                            </a>
                        </li>

                        <li class="nav__item">
                            <a id="nav__link__search" href="/spa/search" class="nav__link" data-link>
                                <i class='bx bx-search nav__icon'></i>
                                <span class="nav__name">Search</span>
                            </a>
                        </li>

                        <li class="nav__item">
                            <a id="nav__link__menu" href="/spa/menu" class="nav__link" data-link>
                                <i class='bx bx-cog nav__icon'></i>
                                <span class="nav__name">Menu</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="nav__img">
                    <img src="/dist/img/profile/rumi.png" alt="">
                </div>
            </nav>
            <nav id="nav__back" class="nav" style="display: none;">
                <div class="nav__back">
                    <a href="/spa" data-link>
                        <i class="bx bx-arrow-back"></i>
                        <span>Back</span>
                    </a>
                </div>
            </nav>
        </header>

        <main id="app">

        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="module" src="/dist/js/spa/index.js"></script>
    </body>
</html>
